.container {
	display: flex;
	flex-wrap: wrap;
	padding: 0 1rem;
	gap: 1rem;
	@media screen and (max-width: 800px) {
		justify-content: center;
	}
	.card {
		color: var(--mutedtext);
		text-decoration: none;
		background: transparent;
		padding: 0.4rem 1rem;
		border: 2px solid var(--lightbg);
		border-radius: 8px;
		&:first-of-type {
			background: var(--lightbg);
			color: var(--lessmutedtext);
		}
		&:hover,
		&:focus {
			border-color: var(--accent);
		}
		&:active {
			border-color: var(--textcolor);
		}
		&.strike {
			text-decoration: line-through;
		}
		@media screen and (max-width: 687px) {
			width: 12rem;
			text-align: center;
		}
	}
	// .card {
	// 	background: transparent;
	// 	color: var(--mutedtext);
	// 	padding: 0.4rem 1.3rem 0.5rem 1.3rem;
	// 	// padding: 0.5rem 1.3rem;
	// 	border-radius: 1500rem;
	// 	outline: 0.15rem solid transparent;
	// 	outline-offset: 0;
	// 	&:hover,
	// 	&:focus {
	// 		background-color: var(--darkbg);
	// 		color: var(--textcolor);
	// 	}
	// }
}
.section {
	padding: 1rem;
	color: var(--mutedtext);
	hr {
		margin: 0.5rem;
		opacity: 0.15;
	}
}
