.parent {
	display: block;
	padding: 1rem;
	margin: 2rem auto;
	// box-shadow: var(--bordershadow);
	border: 2px solid var(--lightbg);
	border-radius: 8px;
}
.list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 1rem;
	gap: 1rem;
	a {
		padding: 0.5rem;
		background: var(--lightbg);
		color: var(--textcolor);
		border-radius: 8px;
		// box-shadow: 0 0 6px var(--lightbg);
		border: 2px solid var(--lightbg);
		&:hover {
			border-color: var(--accent);
			background: var(--lightbg);
		}
		&:focus {
			border-color: var(--textcolor);
		}
	}
	@media screen and (max-width: 800px) {
		gap: 0.5rem;
		a {
			padding: 0.4rem;
		}
	}
}
