.container {
	display: flex;
	flex-direction: row;
	margin: 1.5rem 0;
	--border: 2px solid var(--lightbg);
	color: inherit;
	background: transparent;
	* {
		transition-duration: var(--trandur);
	}
	&:hover {
		.photowrapper,
		.inner {
			background-color: var(--lightbg);
		}
		// background-color: var(--lightbg);
	}
	&:focus {
		.photowrapper,
		.inner {
			border-color: var(--textcolor);
		}
	}
	.photowrapper {
		border: var(--border);
		border-top-left-radius: 50%;
		border-bottom-left-radius: 50%;
		border-right: 0;
		.photo {
			--size: 128px;
			height: var(--size);
			width: var(--size);
			img {
				height: var(--size);
				width: var(--size);
				border-radius: 50%;
			}
		}
	}
	.inner {
		width: 100%;
		padding: 1rem 2rem 1rem 1rem;
		border: var(--border);
		border-radius: 8px;
		border-left: 0;
		position: relative;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
		.date {
			color: var(--mutedtext);
			position: absolute;
			top: 1rem;
			right: 2rem;
		}
		.desc {
			padding-top: 1rem;
			text-align: justify;
		}
	}
}
@media screen and (max-width: 700px) {
	.container {
		flex-direction: column;
		.photowrapper {
			border: var(--border);
			border-bottom: 0;
			border-radius: 8px 8px 0 0;
			text-align: center;
			.photo {
				height: fit-content;
				width: 100%;
				padding: 1rem 0 0 0;
				img {
					border-radius: 12px;
				}
			}
		}
		.inner {
			border: var(--border);
			border-top: 0;
			border-radius: 0 0 8px 8px;
			text-align: center;
			padding: 1rem;
			.date {
				position: static;
			}
			.desc {
				text-align: center;
			}
		}
		// .photo,
		// .inner {
		// 	border: var(--border);
		// 	border-radius: 8px;
		// }
		// .photo {
		// 	height: fit-content;
		// 	width: 100%;
		// 	border-bottom: 0;
		// 	padding: 0.5rem;
		// 	text-align: center;
		// 	border-bottom-left-radius: 0;
		// 	border-bottom-right-radius: 0;
		// }
		// .inner {
		// 	border-top: 0;
		// 	border-top-left-radius: 0;
		// 	border-top-right-radius: 0;
		// 	h3 {
		// 		text-align: center;
		// 	}
		// 	.date {
		// 		position: static;
		// 		text-align: center;
		// 	}
		// }
	}
}
