<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles.css" />
        <title>manczak.net</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Quicksand:wght@300..700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body class="bg-zinc-900 text-zinc-50 w-full min-h-screen font-quicksand">
        {% include "components/navigation.html" %}
        <!--  -->
        {% block content %}
        <!--  -->
        {% endblock %}
    </body>
</html>
