{% extends "base.html" %}
<!--  -->
{% block content %} {% include "components/greetings.html" %}

<main class="max-w-3xl mx-auto mt-4 text-zinc-300">
    Hello and welcome to my very own corner of the interweave.
    <br />
    <br />
    This corner is a lot of things. It's a convenient way to check the statuses
    of the services I'm running. It's an index of my projects and writings. It
    hosts a list of links, leading either to my presence in the other places on
    the internet or to destinations distinct. Finally, there's the files I host
    which are free to download.
    <br />
    <br />
</main>

{% endblock content %}
