.naviSkipper {
	position: absolute;
	top: -24px;
	left: 72px;
	font-family: var(--fntBold);
	color: var(--clrMutedText);
	text-decoration: none;
	outline: none;
	transition-duration: var(--tranDur);
	&:focus {
		top: 32px;
	}
}

/* prettier-ignore*/
.pagesParent, .settingsParent {
	--marginFromEdge: 24px;
	--borderRadius: 4px;
	/* prettier-ignore */
	.pagesButton, .settingsButton {
		position: absolute;
		top: var(--marginFromEdge);
		padding: 8px;
		border-radius: var(--borderRadius);
		cursor: pointer;
		color: var(--clrMutedText);
		outline: none;
		outline: 2px solid transparent;
		transition-duration: var(--tranDur);
		z-index: 2004;
		svg{
			display: block;
		}
		&:hover,&:focus{
			background-color: var(--clrFurtherground);
			color: var(--clrText);
		}
		&:hover{
			outline: 2px solid var(--clrAccent);
		}
		&:focus{
			outline: 2px solid var(--clrText);
		}
	}
	/* prettier-ignore */
	.pagesDropdown, .settingsDropdown {
		position: absolute;
		top: calc(var(--marginFromEdge) + 40px + 16px);
		display: flex;
		flex-direction: column;
		min-width: 256px;
		border-radius: var(--borderRadius);
		outline: 2px solid var(--clrMidground);
		z-index: 2004;
		backdrop-filter: blur(24px);
		transition-duration: var(--tranDur);
		@media screen and (max-width: 600px){
			width: calc(100% - 40px - 8px);
		}
		padding: 8px 0;
		a, button{
			transition-duration: var(--tranDur);
			font-size: 1rem;
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 16px;
			text-decoration: none;
			padding: 12px;
			border: none;
			outline: none;
			color: var(--clrNavText);
			background-color: transparent;
			font-family: inherit;
			cursor: pointer;
			.statusicon{
				margin-left: auto;
				transform: scale(.8);
				animation-name: switch;
				animation-duration: calc(var(--aniControl) * var(--aniBaseDur));
				@keyframes switch{
					0%{
						transform: rotate(0) scale(.8);
					}
					70%{
						transform: rotate(420deg) scale(.8);
					}
					100%{
						transform: rotate(360deg) scale(.8);
					}
				}
			}
			&:hover, &:focus{
				// outline: 2px solid var(--clrText);
				background-color: var(--clrMidground);
				color: var(--clrText);
			}
			&:disabled{
				opacity: .35;
			}
		}
		.divider{
			height: 2px;
			width: 100%;
			background-color: var(--clrMidground);
			margin: 8px 0;
		}
	}
}

/* prettier-ignore */
.pagesButton, .pagesDropdown {
	left: var(--marginFromEdge);
}
/* prettier-ignore */
.settingsButton, .settingsDropdown {
	right: var(--marginFromEdge);
}

/* prettier-ignore */
.pagesParent, .settingsParent {
	/* prettier-ignore */
	.pagesDropdown, .settingsDropdown {
		// display: none;
		visibility: hidden;
		opacity: 0;
	}
	&:focus-within {
		/* prettier-ignore */
		.pagesDropdown, .settingsDropdown {
			// display: flex;
			visibility: visible;
			opacity: 1;
		}
	}
}
