.nav {
	position: fixed;
	width: 100%;
	top: 0;
	padding: 1.5rem;
	display: flex;
	justify-content: space-between;
	z-index: 10;
}
.nav .btnContainer {
	&:focus-within {
		& > button {
			outline-color: var(--lightbg);
		}
		section {
			display: flex;
		}
	}
}
.nav .btnContainer > button {
	padding: 0.5rem;
	border: none;
	outline: none;
	border-radius: 0.35rem;
	height: 2.5rem;
	width: 2.5;
	background-color: var(--background);
	color: var(--mutedtext);
	outline: 2px solid var(--background);
	transition-duration: var(--trandur);
	&:hover {
		background-color: var(--darkbg);
		cursor: pointer;
	}
	&:focus {
		color: var(--textcolor);
		// outline-color: var(--accent);
	}
	animation-name: NavButtonIn;
	animation-duration: calc(var(--anim-control) * var(--anim-navidur));
	@keyframes NavButtonIn {
		from {
			opacity: 0;
			transform: scale(0.75);
		}
	}
}
.nav section {
	border-radius: 0.35rem;
	outline: 2px solid var(--lightbg);
	display: none;
	flex-direction: column;
	position: absolute;
	top: 5rem;
	min-width: 16rem;
	@media screen and (max-width: 400px) {
		width: calc(100% - 3rem);
	}
	padding: 0.5rem 0;
	backdrop-filter: blur(2.5rem);
	// background-color: rgba(20, 20, 20, 0.8);
	@supports not (backdrop-filter: none) {
		background-color: var(--background);
	}
	&.leftlist {
		left: 1.5rem;
	}
	&.rightlist {
		right: 1.5rem;
	}
}
.nav section a,
.nav section button {
	display: flex;
	// justify-content: space-between;
	gap: 1rem;
	align-items: center;
	font-family: var(--font);
	font-size: var(--fontsize);
	color: var(--mutedtext);
	padding: 0.75rem;
	background: transparent;
	border-radius: 0;
	border: none;
	outline: none;
	transition-duration: var(--trandur);
	// border-bottom: 0.15rem solid transparent;
	&:hover,
	&:focus {
		&:not(:disabled) {
			color: var(--textcolor);
			background-color: var(--lightbg);
			border-color: transparent;
			outline-color: transparent;
			// border-color: var(--accent);
		}
	}
	&:disabled {
		opacity: 0.5;
	}
	svg:nth-of-type(2) {
		margin-left: auto;
		transform: scale(0.8);
	}
}
.nav section .divider {
	margin: 0.5rem 0;
	height: 2px;
	width: 100%;
	background-color: var(--lightbg);
}

.skipnav {
	position: absolute;
	top: -32px;
	left: 56px;
	font-family: var(--font-thick);
	color: var(--mutedtext);
	background: transparent;
	padding: 8px;
	// text-decoration: underline;
	border: 2px solid var(--background);
	&:focus {
		top: 23px;
	}
}
