.listlink {
	position: relative;
	display: block;
	padding: 1rem;
	border: 2px solid var(--lightbg);
	border-radius: 8px;
	color: inherit;
	background: transparent;
	&:hover {
		background: var(--lightbg);
	}
	&:focus {
		border-color: var(--textcolor);
	}
	.linkpre {
		position: absolute;
		@media screen and (max-width: 800px) {
			position: static;
		}
		top: 1rem;
		right: 1rem;
	}
}
