.parent {
	display: block;
	padding: 1rem;
	border: 2px solid var(--lightbg);
	border-radius: 8px;
	margin: 1rem 0;
	color: inherit;
	background: transparent;
	&:hover {
		// border-color: var(--accent);
		background: var(--lightbg);
	}
	&:focus {
		border-color: var(--textcolor);
	}
}
