---
import '@fontsource/lexend/600.css';
import '@fontsource/lexend/400.css';
import '@fontsource/quicksand';
import Navigation from '../components/navigation.astro';

const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title || "manczak.net"}</title>
	</head>
	<body class="bg-neutral-900 text-neutral-50">
		<div class="flex flex-col items-center min-h-screen">
			<Navigation />
			<slot />
			<p class="mt-auto py-4 text-neutral-500">&copy; Jakub Mańczak (2019 - {new Date().getFullYear()})</p>
		</div>
	</body>
</html>
