@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@600&family=Quicksand&display=swap");
:root {
	--background: #141414;
	--lightbg: #242424;
	--lighterbg: #363636;
	--darkbg: #090909;
	--accent: #9072ca;
	--textcolor: #f0f0f0;
	--mutedtext: #999;
	--lessmutedtext: #bbb;
	--font: "Quicksand", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	--font-thick: "Lexend", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	--fontsize: 1.1rem;

	--imageloadplaceholder: linear-gradient(
		135deg,
		var(--lightbg) 0%,
		var(--lighterbg) 100%
	);

	// animations
	--anim-control: 1;
	--anim-basedur: 0.35s;
	--anim-pgdelay: 0.25s;
	--anim-navidur: 0.75s;
	--trandur: calc(var(--anim-control) * 0.15s);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}
body {
	background-color: var(--background);
	color: var(--textcolor);
	font-family: var(--font);
	font-size: var(--fontsize);
	overflow-y: overlay;
	margin-bottom: 6rem;
} /* prettier-ignore */
h1,h2,h3,h4{
	font-family: var(--font-thick);
}

a {
	--anchorbg: var(--lightbg);
	color: var(--accent);
	text-decoration: none;
	outline: none;
	// padding: 0 0.1rem;
	background: linear-gradient(
		to bottom,
		var(--anchorbg) 0%,
		var(--anchorbg) 100%
	);
	background-position: 0 100%;
	background-repeat: repeat-x;
	background-size: 2px 2px;
	transition-duration: var(--trandur);
	&:hover,
	&:focus {
		background-size: 2px 1.3em;
	}
}

.basicAnim {
	animation-name: basicAnimIn;
	animation-duration: calc(var(--anim-control) * var(--anim-basedur));
	@keyframes basicAnimIn {
		from {
			opacity: 0;
			transform: scale(0.9);
		}
	}
	// generates duration
	@for $i from 1 through 69 {
		&:nth-of-type(#{$i}) {
			animation-duration: calc(
				var(--anim-control) *
					(var(--anim-basedur) + ((#{$i} * var(--anim-pgdelay)) / 2))
			);
		}
	}
}

::-webkit-scrollbar {
	width: 12px;
	background-color: var(--lightbg);
}
::-webkit-scrollbar-thumb {
	background-color: var(--lighterbg);
}

li ul {
	margin: 0.5rem 0;
	margin-left: 2rem;
}

.constrained {
	max-width: 800px;
	margin: 0 auto;
	@media screen and (max-width: 800px) {
		padding: 0 1.5rem;
	}
}
.projectlist {
	display: flex;
	flex-direction: column;
	padding: 2rem 0;
	gap: 2rem;
}
.linklist {
	display: flex;
	flex-direction: column;
	padding: 2rem 0;
	gap: 1rem;
}
.topmargin {
	margin-top: 8rem;
}
.smalltopmargin {
	margin-top: 1rem;
}
.midtopmargin {
	margin-top: 4rem;
}
.mutedtext {
	color: var(--mutedtext);
}
.centertext {
	text-align: center;
}
.justifytext {
	text-align: justify;
}
