<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}{{title}}{% endblock %}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/styles.css" rel="stylesheet" />
        <link rel="icon" type="image/png" href="/icon.png" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Quicksand:wght@300..700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body
        class="min-h-screen w-full bg-neutral-900 text-stone-300 font-lora flex flex-col"
    >
        {% block content %} {{ content }} {% endblock %}
    </body>
</html>
