@import "tailwindcss";

@theme {
    /* --font-libertine: "Linux Libertine"; */
    /* --font-lexend: "Lexend", sans-serif; */
    --font-quicksand: "Quicksand", sans-serif;
    --font-lora: "Lora", serif;

    --animate-splash: splash 100ms ease-in-out;
    @keyframes splash {
        0% {
            transform: translateY(-1em);
            opacity: 0%;
        }
        ,
        100% {
        }
    }
}
