{% extends "base.html" %}
<!--  -->
{% block title %}manczak.net | not found :({% endblock %}
<!--  -->
{% block content %}
<div class="max-w-3xl mx-auto w-full p-3">
    <div class="flex flex-row w-full mt-16 gap-4">
        <img
            src="https://manczak.net/mow2024.png"
            alt="Me at a debate tournament"
            class="size-20 rounded border border-neutral-700"
        />
        <div class="mt-2 w-full">
            <h2 class="text-2xl tracking-wide font-semibold">jakub mańczak</h2>
            <p class="w-full h-6 font-quicksand text-neutral-500">
                was not able to find the file you want
            </p>
        </div>
    </div>
    <div class="mt-12">
        <span class="text-xl">Error 404</span>
        <p class="text-xl text-stone-400 block mb-4">
            No resource exists here!
        </p>
        <a
            href="/"
            class="text-blue-400 hover:underline focus:underline underline-offset-2 font-quicksand block"
            >Go back to homepage.</a
        >
        <a
            href="/files/"
            class="text-blue-400 hover:underline focus:underline underline-offset-2 font-quicksand block"
            >Go back to file tree.</a
        >
    </div>
</div>
<div
    class="flex flex-col text-sm max-w-3xl mx-auto w-full text-neutral-500 pt-2 pb-4 mt-auto"
>
    <hr class="border-neutral-700 mx-3 mb-1" />
    <p class="px-4 text-right">Jakub Mańczak &copy; 2019-{{current_year}}</p>
</div>
{% endblock %}
