{% extends "base.html" %}
<!--  -->
{% block title %}manczak.net | qr{% endblock %}
<!--  -->
{% block content %}
<div class="max-w-3xl flex flex-col mx-auto w-full p-3">
    <div
        class="flex flex-col sm:flex-row items-baseline justify-between w-full mt-8 px-2 sm:gap-4 pb-1 border-b-[.5] border-neutral-700"
    >
        <h1 class="text-2xl">QR Code Maker</h1>
        <p class="font-quicksand text-neutral-500">
            back to
            <a href="/" class="text-blue-400 hover:underline">manczak.net</a>
        </p>
    </div>
    <div
        class="flex flex-col-reverse sm:flex-row px-2 mt-8 gap-4 justify-between w-full"
    >
        <div class="flex-1 my-auto pb-4">
            <p>Your source input</p>
            <input
                id="qrinput"
                type="text"
                class="border border-neutral-700 hover:border-neutral-500 min-w-[300px] mt-1 rounded p-1 px-2 w-full font-quicksand"
                placeholder="Data to be encoded in the QR code"
            />
            <div class="flex flex-row gap-4 mt-4">
                <button
                    class="w-full bg-neutral-800 font-quicksand rounded p-1 px-2 border border-neutral-700 hover:border-neutral-500 cursor-pointer"
                    id="downloadsvg"
                >
                    Download SVG
                </button>
                <!--<div class="ml-auto flex flex-col flex-1">
                    <label for="pngsize">Image size</label>
                    <input
                        id="pngsize"
                        type="number"
                        min="256"
                        step="1"
                        class="border border-neutral-700 hover:border-neutral-500 rounded mt-1 p-1 px-2 font-quicksand"
                        value="1024"
                    />
                </div>
                <div>
                    <p>Download as...</p>
                    <div class="flex flex-row gap-4 mt-1">
                        <button
                            class="bg-neutral-800 font-quicksand rounded p-1 px-2 border border-neutral-700 hover:border-neutral-500 cursor-pointer"
                            id="downloadpng"
                        >
                            .png
                        </button>
                        <button
                            class="bg-neutral-800 font-quicksand rounded p-1 px-2 border border-neutral-700 hover:border-neutral-500 cursor-pointer"
                            id="downloadpng"
                        >
                            .jpg
                        </button>
                        <button
                            class="bg-neutral-800 font-quicksand rounded p-1 px-2 border border-neutral-700 hover:border-neutral-500 cursor-pointer"
                            id="downloadsvg"
                        >
                            .svg
                        </button>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="mx-auto size-44 bg-white rounded flex">
            <div
                id="qroutput"
                class="size-40 rounded mx-auto my-auto *:w-full *:h-full"
            ></div>
        </div>
    </div>
</div>

<script type="module" defer>
    import init from "/wasm_qr.js";
    init({ module_or_path: "/wasm_qr_bg.wasm" });
</script>

<div
    class="flex flex-col text-sm max-w-3xl mx-auto w-full text-neutral-500 pt-2 pb-4 mt-auto"
>
    <hr class="border-neutral-700 mx-3 mb-1" />
    <p class="px-4 text-right">Jakub Mańczak &copy; 2019-{{current_year}}</p>
</div>
{% endblock %}
